{% extends "network/layout.html" %}
{% load static %}

{% block body %}
   


<div class="card maincard" style="width: 45rem;">
  
  
  
  <ul class="list-group list-group-flush">
    <h3> &nbsp; All Posts </h3>
    <li class="list-group-item">
      <form id="compose">
        <div class="form-group">
          <textarea class="form-control" id="tweet" rows="3" placeholder="Share your thoughts"></textarea> <br>
          <button type="button" class="btn btn-info" id="tweet_btn"> Tweet </button>
        </div>
      </form>
    </li> 
    <div id="temporary">
      <li  class="list-group-item tweetcard">
        <img class="rounded-circle z-depth-2" alt="100x100" data-holder-rendered="true" src='{{ MEDIA_URL }}{{ request.user.imagefile }}'>  
        <a href=# class="link"> &nbsp; {{ request.user.name}} </a> <span class="userid"> {{ request.user.username}} </span> <span id="tempp"> </span>
       
      </li>
    </div>
  
    <div id="feed">
      
      {% if page_obj  %}
      {% for obj in page_obj %}
    <li class="list-group-item tweetcard"> <div  onclick="location.href='/open_tweet/{{ obj.id }}'">
      <img class="rounded-circle z-depth-2" alt="100x100" data-holder-rendered="true" src='{{ MEDIA_URL }}{{ obj.image }}'>  
      <span class="link"> &nbsp; {{ obj.tweeter }} </span> <span class="userid"><a href= {% url 'profile' obj.tweeterid %} class='userid'> @{{ obj.tweeterusername}} </a> {{ obj.timestamp}} </span>
      <p class="contenttweet"> <pre>{{obj.content}}  </pre> <hr> </p> </div> 
      <div class="block"> 
         <div onclick="like(this)" id="like{{obj.id}}" class="subblock" data-id="{{ obj.id }}"> 
          {% if obj.liked %}
          <i class="fa fa-heart" style="color:crimson"></i>
          {% else %}
          <i style="font-size:14px" class="fa">&#xf08a;</i> 
          {% endif %}

          {{ obj.likes }}  
        
        
        
          
        </div> <div  class="subblock" onclick="location.href='/open_tweet/{{ obj.id }}'" > 
          <i class="fa fa-comment-o" aria-hidden="true"></i>  {{ obj.comments }} 
        
     
      </div>  
    </div> 
    </li>
    {% endfor %}


    
  </div>
    <li class="list-group-item">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}

          <li class="page-item "><a class="page-link" href="#" style="background-color:whitesmoke"> {{ page_obj.number }} </a></li>
          
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a></li>
          {% endif %}
        </ul>
      </nav>
      
    </div>
    </li>
    {% else %}
      
    <li class="list-group-item"> No feed to show </li>
     {% endif %}
  </ul>
</div>





  
  

     


   

 




{% endblock %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}